:root{
    --spotify-dark-gray: #121212;
    --spotify-light-gray: #181818;
    --spotify-progress-gray-back: #555555;
    --spotify-progress-gray-front: #b2b2b2;
    --spotify-dark-red: #3f0706;
    --spotify-album-purple: #a73b87;
    --spotify-green: #1fdf64;

}
.main-container{
    color: #ebebeb;;
    background: rgb(63,7,6);
    background: linear-gradient(180deg, rgba(63,7,6,1) 8%, rgba(18,18,18,1) 30%);

}
.spotify-light-bg{
    background-color: var(--spotify-light-gray);
}
.card:hover .hoverPlayButton{
    display: block;


    
}
.hoverPlayButton{
    display: none;
    position: absolute;
background-color: var(--spotify-green);
height: 55px;
width: 55px;
border-radius: 50%;
flex-shrink: 0;
transform: translate(180%,180%);
cursor: pointer;
}   
.buttonTriangle{
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: translate(150%,90%);
    border-left: 15px solid rgb(0, 0, 0);
} 
.nav-container{}
.navLimiter{
    flex-shrink: 0;
    max-width: 20%;
}
.sideRec{
    cursor: pointer;
}

.searchFieldContainer{
    
    background-color: white;
    border-radius: 50px;
    
}
.searchField{
    border: none;
}
.searchField:focus{
    outline: none;
}
.searchFieldContainer svg{
    fill: black;
}
.content-container{

}
   
.small-album-container{

}
.large-album-container{

}
.buttons-container{

}
  
.songs-container{

}
.fa-solid{
    position: absolute;
}
.progressBarBack{
    background-color: var(--spotify-progress-gray-back);
    position: absolute;
    display: flex;
    height: 6px;
    width: 50vw;
    bottom: 25px;
    border-radius: 4px;
    justify-content: left;

}
.progressBarFront{
    background-color: var(--spotify-progress-gray-front);
    position: absolute;
    height: 6px;
    width: 10vw;
    bottom: 0px;
    border-radius: 4px;

}
  
.trackbar{
    position: fixed;
    
    width: 100vw;
    height: 100px;
    background-color: var(--spotify-light-gray);    
    top:calc(100vh - 100px);
}
.small-album-container{
    
}
.large-album-container{
    
}
.buttons-container{
    
}
.songs-container{
    
}
.playerButtons{
    position: absolute;
    color: #ebebeb;
    font-size: 13pt;
    bottom: 80px;
    
}
.nextTrackBtn{
    transform: translate(60px, 8px);
    font-size: 13pt;
    cursor: pointer;
}
.backTrackBtn{
    transform: translate(-60px, 8px);
    font-size: 13pt;
    cursor: pointer;
}
.repeatBtn{
    transform: translate(100px, 12px);    
    font-size: 8pt; 
    cursor: pointer;   
}
.shuffleBtn{
    transform: translate(-100px, 12px);    
    font-size: 8pt; 
    cursor: pointer;
    
}
.playerButtons .playBtn{
    font-size: 25pt;
    transform: translate(-10px, 0px);
    cursor: pointer;
}
.playerButtons.pauseBtn{
    transform: translate(-10px, 0px);
    bottom: 100px;
    font-size: 25pt;
    cursor: pointer;        
}
.playerTimes{
    color: #ebebeb;
    
    display: flex;
    position: absolute;
    transform: translate(25vw, 0px);
}
.elapsedTime{
    position: absolute;
    transform: translate(calc(-27vw - 28px), -10px);
    
} 

.remainingTime{
    transform: translate(26vw, -10px);

}
.playerArt{
    display: block;
    position: absolute;
    height: 80px;
    width: 90px;
    transform: translate(calc(-45vw - 40px), -40px);
}
@media (max-width: 820px)  {
    
    .playerArt{
        display: none;
    }
}
.albumInfoText{
color: #ebebeb;
position: absolute;
transform: translate(calc(-40vw), -30px);
}
.albumInfoArtist{
    font-size: 8pt;
    color: #ebebeb;
    margin-bottom: 0;
    
}
.albumInfoLike{
    font-size: 15pt;
    color: #ebebeb;
    
}
.albumInfoTitle{
margin-bottom: 4px;
}
.volumeContainer{
    background-color: var(--spotify-progress-gray-back);
    position: absolute;
    display: flex;
    height: 6px;
    width: 10vw;
    bottom: 25px;
    border-radius: 4px;
    justify-content: left;
    transform: translate(63vw, 25px);

}

@media(min-width: 600px){
    .fa-volume-off{
        color: #ebebeb;
        position: absolute;
            transform: translate(-30px, -5px);
        }
}
@media(max-width: 599px){
    .fa-volume-off{display: none;}
    
}
.volumeBarFront{
    background-color: var(--spotify-progress-gray-front);
    position: absolute;
    height: 6px;
    width: 2vw;
    bottom: 0px;
    border-radius: 4px;
}

@media(min-width: 1400px){
    .albumInfoText{
        color: #ebebeb;
        position: absolute;
        transform: translate(calc(-41vw), -30px);
        }
}
@media(max-width: 1399px){
    .albumInfoText{
        color: #ebebeb;
        position: absolute;
        transform: translate(calc(-38vw), -30px);
        }
}
@media(max-width: 820px){
    .albumInfoText{
        display: none;
        color: #ebebeb;
        position: absolute;
        transform: translate(calc(-40vw), -30px);
        }
}
.section-header{

}

/*  ~~~~~~~~~~ */
   .full{
    max-width: 100% ;
}


.logo {
    padding-block: 20px;
}

.side{
    background-color: black;
    height: 100vh;
    position: sticky;
    top: 0;
}

.side span{
    color: #ebebeb;
    align-self: center;
    padding-inline: 15px;

}
.line{
    height: 1px;
    background-color: gray;
    width: 70%;
    margin-left: 20px;
}
.heart{
    height: 40px;
    width: 40px;
    justify-content: center;
    background: linear-gradient(90deg, rgba(74,18,241,1) 0%, rgba(191,229,214,1) 100%);
}
a{
    color: gray;
}
.songs{
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.songs::-webkit-scrollbar{
   width: 10px;
   background-color: transparent;

}

.songs::-webkit-scrollbar-thumb{
    background-color: gray;
    
}

.songs::-webkit-scrollbar-thumb:hover{
    background-color: rgb(228, 224, 224);
}